body{
    text-align: center;
}
.man{
    margin-top: 5%;
}
.man .header a, .man .header h1{
    display: inline-block;
    vertical-align: middle;
    color: #ec971f;
    font-size: 2.5rem;
}
.today,.area{
    width: 80%;
    margin: 0 auto;
}
.man .after .box{
    margin: 0 auto;
    width: 80%;
}
hr{
    border: 1px solid #eee;
    margin: 3rem auto;
    width: 80%;
}
[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 8.33%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media all and (min-width: 768px) {
    .col-md-1{  width:8.33%;  }
    .col-md-2{  width:16.66%;  }
    .col-md-3{  width:25%;  }
    .col-md-4{  width:33.33%;  }
    .col-md-5{  width:41.66%;  }
    .col-md-6{  width:50%;  }
    .col-md-7{  width:58.33%;  }
    .col-md-8{  width:66.664%;  }
    .col-md-9{  width:75%;  }
    .col-md-10{  width:83.33%;  }
    .col-md-11{  width:91.66%;  }
    .col-md-12{  width:100%;  }
}
@media all and (max-width: 768px) {
    .col-sm-1{  width:8.33%;  }
    .col-sm-2{  width:16.66%;  }
    .col-sm-3{  width:25%;  }
    .col-sm-4{  width:33.33%;  }
    .col-sm-5{  width:41.66%;  }
    .col-sm-6{  width:50%;  }
    .col-sm-7{  width:58.33%;  }
    .col-sm-8{  width:66.664%;  }
    .col-sm-9{  width:75%;  }
    .col-sm-10{  width:83.33%;  }
    .col-sm-11{  width:91.66%;  }
    .col-sm-12{  width:100%;  }
}
