html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing:inherit;
}
body {
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight:300;
    color:#62686f;
	background-image:url(../img/bg5.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-position:center;
}
h1,h2,h3,h4,h5,h6{
    color:#333333;
    font-weight:300;
}
.container{
	width:960px;
	margin:0 auto;
}
.main-header{
    padding: 1px;
    margin-top:150px;
    background-image:url(../img/banner.jpg);
}
.main-header__avatar{
    width: 130px;
    height: 130px;
    display: block;
    margin:0 auto;
    margin-top:-70px;

    border:3px solid white;
    border-radius:999px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
.main-header h1{
    margin-bottom:20px;
    color:#ffffff;
    text-align: center;
    text-shadow:0 1px rgba(0,0,0,0.3);
    font-weight:300;
    font-size:50px;
    font-family:'Open Sans','helvetica',arial,sans-serif;
}
.main-nav{
    background-color:#333333;
    text-align:center;
    padding: 1px;
}
.main-nav ul li{
    list-style:none;
    margin:15px 10px;
    display: inline;
}
.main-nav ul li a{
    color:#ffffff;
    font-size: 0.9rem;
    font-weight:300;
    text-transform:uppercase;
    text-decoration:none;
}
.main-nav ul li a:hover{
    text-decoration:underline;
}
.info-section{
    padding:30px 60px;
    background-color:#ffffff;
}
.info-section header{
    text-align:center;
    margin-bottom:60px;
}
.info-section header h2{
    font-size:28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.info-section header h2:after{
    content: '';
    width:80px;
    margin: 5px auto;
    display: block;
    border-bottom: 3px solid black;
}
.info-section__description{
    font-style: italic;
}
.whatido__skill{
    padding-top:120px;
    background-repeat: no-repeat;
    background-position: center top;
    width:33.333%;
    float:left;
    text-align:center;
    list-style: none;
}
.whatido__skill-list{
    padding: 1px;
    /*overflow:hidden;*/
}
.whatido__skill-list:after{
    content:"";
    display:table;
    clear:both;
}
.whatido__skill--code{
    background-image: url(../img/skill-code.png);

}
.whatido__skill--design{
    background-image: url(../img/skill-design.png);
}
.whatido__skill--product{
    background-image: url(../img/skill-product.png);
}
.education-experience__list li{
    overflow: hidden;
    list-style: none;
    margin:40px 0 40px 0;
}
.education-experience__list__description{
    overflow: hidden;
}
.education-experience__list img{
    max-width: 180px;
    border-radius: 0.5rem;
    float:left;
    margin-right: 25px;
}
.photos__list{
    margin:0 auto;
    padding:0;
}
.photos__list:after{
    content: '';
    display: table;
    clear:both;
}
.photos__list li{
    box-sizing: border-box;
    width:25%;
    float:left;
    list-style: none;
    padding:10px;
}
.photos__list li img{
    width:100%;
}
.get-in-touch__list li{
    float:left;
    list-style:none;
    width:25%;
}
.get-in-touch__list li img{
    width: 160px;
    height: 160px;
}
.get-in-touch__list{
    overflow: hidden;
    text-align:center;
    padding:0;
}
.contact input,.contact textarea{
    border:1px solid #c0c0c0;
    border-radius:4px;
}
.contact button{
    height:35px;

    border:none;
    border-radius:9999px;

    background-color:#ffd524;
    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    color:#ffffff;
    box-shadow:0 3px 0 #daae1d;
}
.contact form{
    width:40%;
    margin:0 auto;
}
.contact input,.contact button,.contact textarea{
    width:100%;
    margin-bottom:20px;
}
.contact .box{
    position:relative;
}

.contact label{
    position:absolute;
    top:15%;
    left:-20%;
    width:100%;
}
.contact input,.contact textarea{
    padding:8px;
}
/*  Large Devices, Wide Screens */
@media only screen and (max-width:1200px)
{

}

/*  Medium Devices, Desktops    */
@media only screen and (max-width:992px)
{

}

/*  Small Devices, Tables   */
@media only screen and (max-width:768px)
{

}

/* Extra Small Devices, Phones */
@media only screen and (max-width:480px)
{
    .container{
        width:100%;
    }
    .main-nav ul{
        padding-left:0;
    }
    .main-nav ul li{
        display: block;
        padding-left:0;
    }
    .main-header h1{
        font-size:30px;
    }
    .info-section{
        padding:10px;
    }
    .whatido__skill{
        float: none;
        width:100%;
        margin-bottom:40px;
    }
    .education-experience__list{
        padding:0;
        text-align:center;
    }
    .education-experience__list__description{
        text-align:left;
    }
    .education-experience__list img{
        float:none;
        padding: 0;
        margin: 0 auto;
    }
    .education-experience header h2 span{
        display: block;
    }
    .photos__list li{
        float:none;
        width:100%;
    }
    .get-in-touch__list li{
        width: 50%;
    }
    .get-in-touch__list li img{
        width:80%;
    }
    .contact form{
        width:80%;
    }
    .contact label{
        position:static;
    }
}