$baseHeight:1rem;
$headerBgColor: #16a0b5;
.table .logo{
  width: $baseHeight * 1.5;
  height: $baseHeight * 1.5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: $baseHeight;
}
header{
  background: $headerBgColor;
  padding: $baseHeight;
  .nav-logo{
      height: 3 * $baseHeight;
  }
}
footer{
  text-align: center;
}
.sortable{
  cursor: pointer;
}
.sorted::after {
  content: " ▼";
  font-size: $baseHeight;
}