body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.polls-list{
  text-align: left;
}
.polls-list a{
  margin: 0.5rem 0!important;
}
.bs-docs-footer {
  border-top: 1px solid #e5e5e5;
  color: #767676;
  margin-top: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}