body{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.game{
  *word-spacing: -0.04rem;
  font-size:0;
  text-align: center;
  .row{
    .end{
      background-color: rgb(0, 172, 194);
    }
    .room{
      background: #ffffff;
    }
    .wall{
      background-color: #daae1d;
    }
    .soil{
      background-color: rgb(107, 76, 1);
    }
    >div{
      height: 10px;
      width: 10px;
      background: #b2b2b2;
      display: inline-block;

      *display:inline;
      *zoom:1;
      word-spacing:normal;
      font-size:14px;
    }
  }
}