<% include partials/head %>


<div class="container">
  <div class="">
    <h3>我创建的投票列表</h3><hr>
    <div class="polls-list">
      <a href="/polls/id" class="btn btn-info">fdafdsa</a>
      <a href="/polls/id" class="btn btn-info">fdafdsa</a>
    </div>
  </div>
</div>

<% include partials/foot %>
